<!DOCTYPE html>
<html ng-app="ShoppingListCheckOff">

<head>
  <script src="scripts/angular.min.js"></script>
  <link rel="stylesheet" href="styles/style.css" /> 
  <script src="scripts/app.js"></script>
</head>

<body>
  <h1>Shoppimg cart!</h1>


  <!--toBuyList-->
  <div id="firstDiv" ng-controller="ToBuyController as TBC">
    <h2>To Buy List</h2>
    <ol>
      <li ng-repeat="item in TBC.items">Buy {{item.quantity}}  {{item.itemName}} 
        <button ng-click="TBC.bought($index);">Bought</button>
      </li>
    </ol>
    <p class="green" ng-if="!TBC.items.length"> Everything is bought </p>
  </div>


  <!--alreadyBoughtList-->
  <div id="secondDiv" ng-controller="AlreadyBoughtController as ABC">
    <h2>Already Bought List</h2>
    <ol>
      <p class="red" ng-if="!ABC.items.length"> Nothing bought yet </p>
      <li ng-repeat="item in ABC.items">
	  
	  <p>Bought  {{item.quantity}}  {{item.itemName}}</p>
	  
	  </li>
    </ol>
  </div>
</body>

</html>