body{
	background-color: lightblue;
	width: 600px;
	margin: 0 auto;
}
.green {
	border: 2px solid green;
	color: green;
	padding: 5px;
}

.red {
	border: 2px solid red;
	color: red;
	padding: 5px;
}
h1, h2 {
	text-align: center;
}
#secondDiv{
	float: right;
}