body{
	background-color: lightblue;
	width: 800px;
	margin: 0 auto;
}
.green {
	border: 2px solid green;
	color: green;
	padding: 5px;
}

.red {
	border: 2px solid red;
	color: red;
	padding: 5px;
}
h1, h2 {
	text-align: center;
}
#firstDiv{
	float: left;
	width: 350px;
	margin: 0 auto;
}
#secondDiv{
	float: right;
	width: 350px;
	margin: 0 auto;
}